.contents #coming-soon a {
    background: linear-gradient(#31333b,#282a30);
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid transparent 2px;
    border-top: solid #31333b 2px;
    border-bottom: solid #282a30 2px;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.contents #insertForm, .contents #castForm {
    transition: 0.5s;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 8%;
    padding-left: 26%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
    .contents #castForm .castForm {
        position: sticky;
        width: 700px;
        height: 550px;
        background: #31333b;
        border: 3px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }

    .contents #insertForm .insertForm {
        position: sticky;
        width: 800px;
        height: 700px;
        background: #31333b;
        border: 3px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }

        .contents #insertForm .insertForm .container, .contents #updateForm .updateForm .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 4%;
            margin-bottom: 2%;
            width: 90%;
        }

            .contents #insertForm .insertForm .container .userInputs, .contents #updateForm .updateForm .container .updateInputs {
                margin-bottom: 4%;
            }


            .contents #updateForm .updateForm .container div {
                margin-top: -20px;
                display: flex;
                flex-direction: column;
            }

.contents #updateForm .updateForm #movieId {
    height: 0;
}

.contents #castForm .update {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    height: 44px;
    width: 340px;
    border: solid transparent 1px;
    background: #D7263D;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.contents #updateForm .updateForm .updatem {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    height: 44px;
    width: 340px;
    border: solid transparent 1px;
    background: #D7263D;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.contents #castForm .updateInputs {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 300px;
    border: solid transparent 1px;
    background: #bfc0c4;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 200;
}

.contents #updateForm {
    transition: 0.5s;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 11%;
    padding-left: 26%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .contents #updateForm .updateForm {
        position: sticky;
        width: 800px;
        height: 700px;
        background: #31333b;
        border: 3px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }

        .contents #updateForm .updateForm ::-webkit-scrollbar {
            width: 10px;
        }

#caption-featured {
    background-color: #D7263D;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    border: solid #fff 2px;
    border-bottom: none;
    padding-block: 3px;
}

#thead-movie th {
    background-color: #343a4a;
}

#featureBtn, #removeBtn {
    font-weight: 500;
    border: solid 2px white;
    border-radius: 4px;
    background: #303030;
    color: #fff;
    cursor: pointer;
    margin-inline: 5px;
    padding-inline: -5px;
    width: min-content;
    padding-block: 8px;
    padding-inline: 5px;
}

    #featureBtn:hover, #removeBtn:hover {
        background: #3b3a3a;
    }

#removeBtn {
    margin-block: 5px;
}

.movie-tbody #editBtnM, .movie-tbody #deleteBtn, .movie-tbody #castBtn {
    border: solid 2px white;
    border-radius: 4px;
    background: #343a4a;
    cursor: pointer;
    margin-inline: 5px;
}

    .movie-tbody #editBtnM:hover, .movie-tbody #deleteBtn:hover, .movie-tbody #castBtn:hover {
        background: #3c4355;
    }

.movie-tbody #editBtnM, .movie-tbody #deleteBtn {
    margin: 8px;
    padding-block: 2px;
    padding-inline: 2px;
}

#castForm #hidden1, #castForm #hidden2, #castForm #hidden3 {
    margin-top: -30px;
}

    #castForm #hidden1 > input, #castForm #hidden2 > input, #castForm #hidden3 > input {
        background: #9ba3c4;
    }
