.db-background {
    border: solid transparent 20px;
    border-bottom: solid transparent 40px;
    height: max-content;
    width: calc(100%-40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}

    .db-background .db-main {
        background: linear-gradient(#50545f,#696d7a);
        width: 97%;
        min-height: 800px;
        align-self: center;
    }

        .db-background .db-main .commands {
            width: 20%;
            height: 35px;
            margin-top: 30px;
            margin-bottom: -10px;
            margin-left: 167px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
        }

            .db-background .db-main .commands > li > button {
                background: linear-gradient(#31333b,#282a30);
                text-decoration: none;
                color: whitesmoke;
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border: solid transparent 2px;
                border-top: solid #31333b 2px;
                border-bottom: solid #282a30 2px;
                border-radius: 5px;
                padding: 3px;
                padding-left: 10px;
                padding-right: 10px;
                cursor: pointer;
            }

            .db-background .db-main .commands > li > a {
                background: linear-gradient(#31333b,#282a30);
                text-decoration: none;
                color: whitesmoke;
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border: solid transparent 2px;
                border-top: solid #31333b 2px;
                border-bottom: solid #282a30 2px;
                border-radius: 5px;
                padding: 3px;
                padding-left: 10px;
                padding-right: 10px;
            }

        .db-background .db-main #selected > a {
            background: linear-gradient(#31333b,#282a30);
            text-decoration: none;
            color: whitesmoke;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: solid transparent 2px;
            border-top: solid #31333b 2px;
            border-bottom: solid #282a30 2px;
            border-radius: 5px;
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }

        .db-background .db-main #thead-header th {
            background-color: #343a4a;
        }

        .db-background .db-main .table {
            margin: auto;
            width: 90%;
            margin-top: 40px;
            margin-bottom: 40px;
            border: solid rgb(211, 211, 211) 2px;
            border-collapse: collapse;
        }

            .db-background .db-main .table th {
                background-color: #D7263D;
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 22px;
                font-weight: 400;
            }


            .db-background .db-main .table #editBtn, .db-background .db-main .table #deleteBtn, .db-background .db-main .table #extraBtn {
                border: solid 2px white;
                border-radius: 4px;
                background: #343a4a;
                cursor: pointer;
                margin-inline: 5px;
            }

                .db-background .db-main .table #editBtn:hover, .db-background .db-main .table #deleteBtn:hover, .db-background .db-main .table #extraBtn:hover {
                    background: #3c4355;
                }

        .db-background .db-main tbody tr > td {
            color: rgb(231, 231, 231);
            font-size: 18px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .db-background .db-main tbody > tr {
            background-color: #31333b;
            border-top: solid white 2px;
            height: 40px;
        }

        .db-background .db-main tbody #editBtn, .db-background .db-main tbody #deleteBtn, .db-background .db-main tbody #extraBtn {
            border: solid 2px white;
            border-radius: 4px;
            background: #343a4a;
            cursor: pointer;
            margin-inline: 5px;
        }

            .db-background .db-main tbody #editBtn:hover, .db-background .db-main tbody #deleteBtn:hover, .db-background .db-main tbody #extraBtn:hover {
                background: #3c4355;
            }

        .db-background .db-main tbody #editBtn, .db-background .db-main tbody #deleteBtn, .db-background .db-main tbody #extraBtn {
            margin: 8px;
            padding-block: 2px;
            padding-inline: 2px;
        }
