.movie-page-main {
    padding: 5%;
    display: flex;
    background-image: linear-gradient(135deg, transparent 0%, transparent 6%,rgba(0,0,0, 0.04) 6%, rgba(0,0,0, 0.04) 22%,transparent 22%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 20%,rgba(0,0,0, 0.04) 20%, rgba(0,0,0, 0.04) 47%,transparent 47%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 24%,rgba(0,0,0, 0.04) 24%, rgba(0,0,0, 0.04) 62%,transparent 62%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 73%,rgba(0,0,0, 0.04) 73%, rgba(0,0,0, 0.04) 75%,transparent 75%, transparent 100%),linear-gradient(90deg, rgb(207,207,207),rgb(207,207,207));
    justify-content: space-evenly;
}

    .movie-page-main img {
        height: 500px;
        border-radius: 6px;
        box-shadow: #000 1px 1px 5px;
    }

    .movie-page-main .movie-details {
        width: 80%;
        min-height: 520px;
        margin-left: 5%;
        height: 20%;
        background: linear-gradient(to right, #202020,#202020,#202020,#202020);
        border-radius: 10px 10px 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .movie-page-main .movie-details h2 {
            color: #fff;
            font-size: 32px;
            float: left;
            margin-left: 10%;
            font-weight: 500;
        }

        .movie-page-main .movie-details .title {
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .movie-page-main .movie-details .details {
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        .movie-page-main .movie-details .checked {
            color: #dbc541;
            margin-right: 10px;
        }
        .movie-page-main .movie-details .price {
            color: #fff;
            text-align: left;
            margin-inline: 10%;
            margin-top: 0;
            font-size: 18px;
            font-weight: 400;
            width: 90%;
        }
        .movie-page-main .movie-details .rating {
            color: #fff;
            text-align: left;
            margin-inline: 10%;
            font-size: 18px;
            font-weight: 500;
            width: 90%;
        }

            .movie-page-main .movie-details .rating .category {
                margin-left: 10%;
                font-size: 20px;
            }
            .movie-page-main .movie-details .rating .duration {
                float: right;
                margin-right: 11%;
                font-size: 18px;
                font-weight: 400;
            }

            .movie-page-main .movie-details .rating .categoryS {
                font-size: 20px;
            }

        .movie-page-main .movie-details .details .description {
            margin-inline: 10%;
            font-size: 20px;
            color: #fff;
            text-align: justify;
        }

        .movie-page-main .movie-details .details .cast {
            margin-inline: 10%;
            font-size: 16px;
            color: #fff;
            text-align: justify;
            margin-top: 0;
        }

        .movie-page-main .movie-details .details .director {
            margin-inline: 10%;
            font-size: 16px;
            color: #fff;
            text-align: justify;
            margin-top: -1%;
        }

        .movie-page-main .movie-details .details .actors {
            font-size: 18px;
        }

        .movie-page-main .movie-details .buttons {
            display: flex;
            justify-content: space-between;
            margin-inline: 11%;
            margin-top: 1%;
        }

            .movie-page-main .movie-details .buttons .trailer, .movie-page-main .movie-details .buttons .buy {
                width: 120px;
                height: 50px;
                cursor: pointer;
                border-radius: 4px;
                text-align: center;
                line-height: 48px;
                color: #fff;
                font-weight: 500;
            }

            .movie-page-main .movie-details .buttons .coming-soon {
                width: 120px;
                height: 50px;
                cursor: pointer;
                border-radius: 4px;
                text-align: center;
                line-height: 48px;
                color: #000;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 600;
            }

            .movie-page-main .movie-details .buttons .trailer {
                background: linear-gradient(to right, #db1731,#A31F30);
            }

                .movie-page-main .movie-details .buttons .trailer:hover {
                    background: linear-gradient(to right, #8a0a1c,#6f0614);
                }

            .movie-page-main .movie-details .buttons .buy {
                background: linear-gradient(to right, #37ad05,#026702);
            }

                .movie-page-main .movie-details .buttons .buy:hover {
                    background: linear-gradient(to right, #2e8908,#035b03);
                }

            .movie-page-main .movie-details .buttons .coming-soon {
                background: linear-gradient(to right, #dbc541,#b7a012);
            }

                .movie-page-main .movie-details .buttons .coming-soon:hover {
                    background: linear-gradient(to right, #c4ae2a,#e98914);
                }

        .movie-page-main .movie-details .title .watchlist {
            color: #fff;
            cursor: pointer;
            margin-right: 10%;
        }

            .movie-page-main .movie-details .title .watchlist .fa-plus-circle {
                color: crimson;
            }

        .movie-page-main .movie-details .video {
            margin-block: 5%;
            display: none;
        }
