.accordion {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: white;
}

    .accordion .accordion-item {
        width: 100%;
    }

    .accordion .item {
        background: linear-gradient(to right, #8e1616,#a52121,#ad2b2b,#b73838,#b73838,#ad2b2b,#a52121,#8e1616);
        margin-bottom: 3px;
        padding: 10px 20px;
        box-shadow: #000 1px 1px 5px;
        cursor: default;
    }

    .accordion .item h2{
        color: #000;
        font-size: 26px;
    }
    .accordion .item p{
        font-size: 15px;
    }

    .accordion .accordion-link {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0,1,0,1);
    }

    .accordion .content {
        color: whitesmoke;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s cubic-bezier(0,1,0,1);
        margin:auto;
    }

        .accordion .content.show {
            height: auto;
            max-height: 9999px;
            transition: all 0.5s cubic-bezier(1,0,1,0);
            margin: auto;
        }

    .accordion span {
        color: #fff;
        font-size: 22px;
        padding-bottom: 20px;
    }

    .accordion .content {
        width: 60%;
    }
