* {
    margin:0px;
    padding:0px;
}
.aboutus-details {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #ffd0aa;
    color: #9a0000;
    background-image: linear-gradient(#ffbcbc,#ff7d7d);
}
h2 {
    padding-top:40px;
}
    h2:hover {
        font-size:28px;
        transition:0.5s;
    }
p{
    font-weight:bold;
    padding-bottom:40px;
    padding-top:30px;
 }
