*{
    margin-top:0px;
}
.aboutus-details {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 35px;
    padding-right:35px;
    background-color: #ffe0e0;
    color: #9a0000;
}

    .aboutus-details h2 {
        padding-top: 40px;
    }

        .aboutus-details h2:hover {
            font-size: 28px;
            transition: 0.5s;
        }

    .aboutus-details p {
        font-weight: bold;
        padding-bottom: 40px;
        padding-top: 30px;

    }
    img{
    float:left;
    height:300px;
    position:relative;
    border-radius:10px;
    padding-left:2px;
}
