.LoginForm div > h1, h5 {
    text-align: center;
}
.LoginForm h1 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 76px;
    font-weight: 400;
    padding-bottom:15px;
    margin-bottom: -10px;
}

.LoginForm h5 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
